# Write only PostgreSQL Config
DB_NAME=your_db_name
DB_USER=your_username
DB_PASS=your_passworrd
DB_HOST=localhost
DB_PORT=port

# Read-Only PostgreSQL Config
READ_DB_NAME=your_db_name
READ_DB_USER=your_username
READ_DB_PASS=your_passworrd
READ_DB_HOST=localhost
READ_DB_PORT=port

// Redis Config
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=your_passworrd


# App Configuration
PORT=5000
NODE_ENV=development
JWT_SECRET=your_jwt_secret_here
